*{
    margin:0;
    padding:0;
}
body{
    max-width: 1640px;
    width:90%;
    margin:0 auto;
    font-family: 'Archivo', sans-serif;
    background-color: black;
    width:100%;
    height:100%;
    overflow: auto;

}
.tab{
    position: fixed;
    top: 10%;
    left: 15.5%;
    width: 800px;
    height: 300px;
    border-radius: 25px;
    border: 2px solid #ffbe00;
    padding: 10px;
}
.mainimage{
    position: fixed;
    top: 13%;
    left: 17.5%;
    width: 360px;
    height: 280px;
}
h3{
    color: #ffbe00;
}
img{
    margin-top: 30px;
}
.Calc{
    position: fixed;
    top: 13%;
    left: 51.8%;
    width: 360px;
    height: 280px;
    border-radius: 10%;
    box-shadow: 0px 0px 8px 8px rgb(255 255 255 / 13%);
}
.first{
    position: relative;
    height: 30px;
    top: 7%;
    left: 17%;
    color:#ffbe00;
    text-align: center;
    font-size:1.1em;
    font-weight: 600;
    border-radius: 8px;
    background: url(ev_icn.svg) no-repeat;
    background-position: 2.5px 2.5px;
}

.second{
    position: relative;
    display: block;
    height: 30px;
    width: 235px;
    top: 8%;
    left: 17%;
    color:#ffbe00;
    margin-top: 10px;
    text-align: center;
    font-size:1.1em;
    font-weight: 600;
    border-radius: 8px;
    background-color: black;
}

.table{
    position: relative;
    display: block;
    top: 15%;
    left: 6.5%;
    border-spacing: 10px;
    color: #ffbe00;
    
    
}

td{
    width: 150px;
}
input{
    width: 50px;
    color: white;
    background-color: black;
}
.a{
    color: #ffbe00;
    font-weight: bolder;
}
.b{
    font-weight: bolder;
    color: #ffbe00;
    font-size: larger;
}